body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
span{
    color:orange;
}
.for-display{
    display: flex;
    margin-bottom: 40px;
}
.for-width{
    width: 50%;
    padding: 5%;
}
.for-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: 900;

}
.li-color{
    color: tomato;
}
.box-shadow-first{
    box-shadow:10px 10px 40px gray;
    width:48%;
    margin-left:1%;
    margin-right:1%;
    padding:20px;
}
.box-shadow-second{
    box-shadow:10px 10px 40px gray;
    width:48%;
    margin-left:1%;
    margin-right:1%;
    padding:20px;
}
.border-line{
    border-left: 7px solid;
    border-image: linear-gradient(red, tomato);
    border-image-slice: 1;
}
.border-line2{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}